<app-navbar></app-navbar>
<div class="main-page">
  <mat-card>
    <mat-card-header>
      Welcome to myFlix!
    </mat-card-header>
    <mat-card-actions>
      <button
      mat-raised-button
      (click)="openUserRegistrationDialog()"
      style="margin-right: 10px;"
      color="primary"
    >
      Sign Up
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="openUserLoginDialog()"
      style="margin-right: 10px;"
    >
      Login
    </button>
    </mat-card-actions>
  </mat-card>  
</div>

